@import url('https://fonts.googleapis.com/css?family=Pangolin|Playfair+Display|Roboto+Condensed');
  /* Font usage
      font-family: 'Pangolin', cursive;
      font-family: 'Roboto Condensed', sans-serif;
      font-family: 'Playfair Display', serif;
  */

@media only screen and (max-width: 600px) {
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
    background-color: #F2FBF8;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  hr {
    width: 90%;
    background-color: #F7781D;
	  border-top: 4px dashed #8c8b8b;
  }
  hr:after {
    content: '';
    display: block;
    margin-top: 2px;
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
  }

  /* Custom style start */
  .container {
    display: flex;
    flex-direction: column;
  }

  .container h2 {
    font: 30px 'Pangolin', cursive;
  }

  div {
    border: 1px solid black;   
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: no-wrap;
    height: 20vh;
  }
  .header div{
    align-self: center;
  }
  .header h1 {
    font-size: 35px;
    color: #EF4957;
    text-shadow: 2px 2px #85B3AF;
  }
  .header img {
    position: relative;
    max-width: 22vw;
    border-radius: 50%;
    border: 8px dotted #01B3B6;
  }

  .contact ul {
    display: inline;
    background-color: #fff;
    border: 1px solid black;
  }
  .contact ul li {  
    display: inline;
  }

  .introduction {
    text-align: justify;
  }
  .introduction h2 {
    text-align: left;
  }
  .introduction p{
    padding: 2%;
  }
  .introduction p::first-letter { 
    font-size: 200%;
    color: #D6BC8B;
    padding-left: 5%; 
  }

  .timeline {}
  .timeline h2 {
    text-align: left;
  }

  .additional h2 {
    text-align: left;
  }

}
